{% extends 'base.html.twig' %}

{% block title %}Card Creator{% endblock %}

{% block body %}

    {{ form_start(form, {'action': path(app.request.attributes.get('_route')),'method': 'POST', 'enctype':'multipart/form-data' }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

<div>
    <ul class="list-elements">
    {% for card in cards %}
        <li class="list-group-items">{{ card.title }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
