{% extends 'base.html.twig' %}

{% block title %}Faction Creator{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

<div class="list-elements">

</div>
{% endblock %}
